<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RT-Chapp</title>
    <style>
        body{
            background-color: rgb(95, 95, 95);
            color:rgb(221, 221, 221);
        }
    </style>
</head>
<body>

    Welcome to Dashboard <%= user.username %>

    <form action="/user/logout" method="post">
        <button type="submit" id="logout-btn">Logout</button>
    </form>

    <table>
        <% friends.forEach( friend => { %>
        
        <tr>
            <td> <a href='/user/<%= user._id %>/chats/<%= friend._id %>' > <%= friend.name %> </a> </td>
            <td> Online </td>
        </tr>

        <% }) %>
    </table>


    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const userId = '<%= user._id %>'; // This would be dynamically determined, e.g., after a login

      socket.emit('register', userId);

    </script>

</body>
</html>
